# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# System
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# ML Model (Optional: Keep if you want to deploy without retraining, Remove if file is too large)
# backend/disease_model.pkl
